<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
</head>
<body>
    <h1>Quiz App</h1>

    <form action="/score" method="post" id="quizForm">

        <input type="hidden" name="score" id="score_input"> <!-- Add a hidden input field to store the score -->

        <div id="timer">Time remaining: <span id="timer-display">10:00</span></div>

        <h2>What is the difference between lists and tuples?*</h2>
        <input type="radio" name="q1" value="1"> Lists are mutable, while tuples are immutable.<br>
        <input type="radio" name="q1" value="2"> Lists can only store homogeneous elements, while tuples can store heterogeneous elements.<br>
        <input type="radio" name="q1" value="3"> Lists have faster access time compared to tuples.<br>
        <input type="radio" name="q1" value="4"> Lists and tuples have similar properties.<br>

        <h2>Making a compressed digital archive might produce what type of file format?*</h2>
        <input type="radio" name="q2" value="1"> PDF<br>
        <input type="radio" name="q2" value="2"> JPEG<br>
        <input type="radio" name="q2" value="3"> ZIP<br>
        <input type="radio" name="q2" value="4"> MP3<br>

        <button type="button" onclick="submitQuiz()" id="submitButton">Submit Quiz</button>
        <p>{{score}}</p>
    </form>
    <script src="{{ url_for('static', filename='index_script.js') }}"></script>
</body>
</html>
